In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\roaming\python\python312\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

# Establish connection

In [9]:
import mysql.connector
#creating connection object
db=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Anjali#0705"
)
print(db)

<mysql.connector.connection.MySQLConnection object at 0x000001DB92C57680>

In [10]:
dbcursor = db.cursor()
dbcursor.execute("create database if not exists booklist")

In [4]:
dbcursor.execute("show databases")

In [5]:
for i in dbcursor:
    print(i)

('assignment_schema',)
('booklist',)
('countries',)
('customer_orders',)
('employee',)
('hr',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('temp_schema',)
('world',)

# Establish connection using specific database

In [12]:
# for specifying database we are working on
import mysql.connector
#creating connection object
db=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Anjali#0705",
    database="booklist"
)

# create table in booklist database

In [13]:
dbcursor = db.cursor()
dbcursor.execute("create table if not exists booklist.bookdetail (Rating INT(20),Book VARCHAR(40),price DECIMAL(16,2))")

#dbcursor.execute("use booklist")
dbcursor.execute("show tables")

for i in dbcursor:
    print(i)

('bookdetail',)

# Insert data in table

In [22]:
dbcursor.execute("""
    INSERT INTO bookdetail VALUES 
    (5, 'book1', 5000),
    (4, 'book2', 3000),
    (3, 'book3', 1000)""")

# form="insert into bookdetail(rating,book,price)values(%s,%s,%s)"
# data=[(4,"Book1",99), (4, 'book2', 3000),]

for i in dbcursor:
    print(i)

db.commit()

('bookdetail',)

# View all data from table

In [25]:
#View all columns 
dbcursor.execute("""select * from bookdetail""")
result=dbcursor.fetchall()
for i in result:
    print(i)

#View selected columns 
dbcursor.execute("""select book from bookdetail""")
result1=dbcursor.fetchall()
for i in result1:
    print(i)
db.commit()

(5, 'book1', Decimal('5000.00'))
(4, 'book2', Decimal('3000.00'))
(3, 'book3', Decimal('1000.00'))
('book1',)
('book2',)
('book3',)