In [1]:
"hello"

'hello'

In [2]:
'Hello I am Anjali Sonavane'

'Hello I am Anjali Sonavane'

In [3]:
print('hello')
print('Welcome to WIT')
print('I am Anjali')
print('\n')
print('It give a new line space')

hello
Welcome to WIT
I am Anjali


It give a new line space

In [4]:
len('Hello I am Aziz')

15

In [8]:
str='Hello i am anjali'
str

'Hello i am anjali'

In [9]:
len(str)

17

In [11]:
print(str[4])

o

In [15]:
str[2:]  #skip 0 ,1 and print from 2

'llo i am anjali'

In [16]:
str[:3]  # split (take only index from 0 to 2)

'Hel'

In [23]:
str2=(str + ',I study in Wit') 
print(str2)      #concatenate

Hello i am anjali,I study in Wit

In [21]:
str.upper()  #case change

'HELLO I AM ANJALI'

In [24]:
str.lower()

'hello i am anjali'

In [25]:
str.split()

['Hello', 'i', 'am', 'anjali']

In [28]:
print('Enter name here {} then also {}' .format('Anjali','Arushi'))  #Another way to print

Enter name here Anjali then also Arushi

In [29]:
print('The colors are {2} {1} {0}'.format('red','blue','green'))

The colors are green blue red

In [30]:
#Inserted objects can be assigned keyword
print('First Object: {a} , Second Object: {b} , Third Object: {c}'.format(a=1,b=2,c='Hello'))

First Object: 1 , Second Object: 2 , Third Object: Hello

In [31]:
#Assign alist to an variable 
my_list = [1,2,3,4,5,6]
print(my_list)

[1, 2, 3, 4, 5, 6]

In [32]:
my_list =['Anjali',3,10,4,'A',65]         #Lists are mutable
print(my_list)

['Anjali', 3, 10, 4, 'A', 65]

In [33]:
len(my_list)

6

In [36]:
#Indexing and slising in list
print(my_list[0])
print(my_list[:2])
print(my_list[2:])

Anjali
['Anjali', 3]
[10, 4, 'A', 65]

In [37]:
my_list + ['Arushi']     #Cocatenate Lists

['Anjali', 3, 10, 4, 'A', 65, 'Arushi']

In [38]:
print(my_list)  #still iteem is not added because we havent reassigned

['Anjali', 3, 10, 4, 'A', 65]

In [40]:
#Reassign
my_list=my_list + ['Arushi']
print(my_list)

['Anjali', 3, 10, 4, 'A', 65, 'Arushi', 'Arushi']

In [41]:
#Basic lists methods
new_list=[1,2,4,5,3,6]

In [42]:
#Append
new_list.append('Anjali')
print(new_list)

[1, 2, 4, 5, 3, 6, 'Anjali']

In [43]:
print(new_list) #In append no need to reassign as it adds it

[1, 2, 4, 5, 3, 6, 'Anjali']

In [44]:
#pop off the last element in list
new_list.pop()

'Anjali'

In [45]:
print(new_list)  #last elemnt poped

[1, 2, 4, 5, 3, 6]

In [46]:
new_list.pop(2)   #pop indexed item
print(new_list)

[1, 2, 5, 3, 6]

In [47]:
#Dictionary 
Dict = {'key1':'Value1','key2':'Value2','Key3':'Value3'}
print(Dict)

{'key1': 'Value1', 'key2': 'Value2', 'Key3': 'Value3'}

In [48]:
#call values by their key
Dict['Key3']

'Value3'

In [49]:
#WE can give lists also as a value
Dict1={'Key1':[1,2,3],'Key2':123,'Key3':['Anjali','Sonavane']}
print(Dict1)

{'Key1': [1, 2, 3], 'Key2': 123, 'Key3': ['Anjali', 'Sonavane']}

In [53]:
Dict1['Key1'][1]  # Access single element from the list value of key1

2

In [55]:
Dict1['Key3'][0].upper()

'ANJALI'

In [56]:
#Add 123 in the dict
Dict1['Key2']=Dict1['Key2']+ 123

In [57]:
print(Dict1)  #This means Dict are also Muttable

{'Key1': [1, 2, 3], 'Key2': 246, 'Key3': ['Anjali', 'Sonavane']}

In [58]:
Dict1['Key3']=Dict1['Key3'].append('Arushi')

In [59]:
print(Dict1)       
#The append() method modifies the list in place and does not return a new list. It returns None.
#So, when you do Dict1['Key3'].append('Arushi'), it adds 'Arushi' to the list that is currently associated with 'Key3'. However, because append() returns None, you're actually assigning None to Dict1['Key3'], replacing the existing list with None

{'Key1': [1, 2, 3], 'Key2': 246, 'Key3': None}

In [60]:
#Tuples (THey are IMMUTABLE
Tuple=(1,2,3,3,3,'Anjali','Aru')
print(Tuple)

(1, 2, 3, 3, 3, 'Anjali', 'Aru')

In [62]:
Tuple[0]

1

In [63]:
#Slicing Just like a list
Tuple[-1]

'Aru'

In [64]:
len(Tuple)

7

In [65]:
Tuple[0]='Sonavane' #Because its Immutable

TypeError: 'tuple' object does not support item assignment

In [66]:
#Sets (Does not allow duplicate)
{1,2,3,4}

{1, 2, 3, 4}

In [67]:
{1,2,2,2,3,4,5,5} #(Does not allow duplicate)

{1, 2, 3, 4, 5}

In [68]:
type({1,2,3,4})

set

In [69]:
Set=set() #set() is a built-in function in Python used to create a set, which is an unordered collection of unique elements.

In [70]:
print(Set)

set()

In [71]:
Set.add(1)
Set.add(2)
Set.add(3)
print(Set)

{1, 2, 3}

In [73]:
Set.add(5)
Set.add(3)   #(Does not allow duplicate)
print(Set)

{1, 2, 3, 5}

In [75]:
#if , elif, else Statements
if True:
    print("Yes! It was true.")

Yes! It was true.

In [76]:
x=False

if x:
    print("Yes ! it was true")
else:
    print('I will be printed in any case where {} is not true'.format('x'))

I will be printed in any case where x is not true

In [78]:
#Multiple Branches
loc= 'Andra Pradesh'

if loc=='Bangalore':
    print('Welcome to Bangalore')
elif loc=='Andra Pradesh':
    print('Welcome to Andra pradesh')
else:
    print('where are you?')

Welcome to Andra pradesh

In [2]:
#Find greatest of 3 numbers

my_list=[10,30,50]

if my_list[0]>my_list[1] and my_list[0]>my_list[2]:
    print("my_list[0] is the greatest number")
elif my_list[1] > my_list[0] and my_list[1] > my_list[2]:
        print("my_list[1] is the greatest number")
else:
    print("my_list[2] is the greatest number")

my_list[2] is the greatest number

In [5]:
#Electricity bill

def calculate_electricity_bill(units):
    if units <= 200:
        bill = 0
    elif units <= 500:
        bill = (units - 200) * 8
    elif units <= 1000:
        bill = (300 * 8) + (units - 500) * 11
    else:
        bill = (300 * 8) + (500 * 11) + (units - 1000) * 14
    
    return bill

units = int(input("Enter the number of units consumed: "))
bill_amount = calculate_electricity_bill(units)

print(f"Total electricity bill for {units} units: Rs. {bill_amount}")

Enter the number of units consumed:  3550

Total electricity bill for 3550 units: Rs. 43600

In [15]:
#income tax
total = 4500000
savings = 150000
rem = 0

if savings < 200000:
    rem = total - savings
    sav=rem
else:
    rem = total - 200000 


if rem <= 1000000:
    tax = rem * 0.10  # 10% tax
    print(f"Tax applied: rs{tax}")
elif rem <= 1200000:
    tax = rem * 0.20  # 20% tax
    print(f"Tax applied: {tax}")
else:
    tax = rem * 0.30  # 30% tax
    print(f"Tax applied: {tax}")

final_amount = sav- tax
print(final_amount)

Tax applied: 1305000.0
3045000.0

In [18]:
#3rd code
def calculate_fd_interest(amount, years=1):
    first_limit = 10_00_000  
    second_limit = 15_00_000 
    remaining_limit = amount - (first_limit + second_limit)
    
    interest_first = first_limit * 0.10 * years  
    interest_second = second_limit * 0.15 * years 
    interest_remaining = remaining_limit * 0.18 * years  
    
    total_interest = interest_first + interest_second + interest_remaining
    
    return total_interest

# Total FD amount
fd_amount = 65_00_000
interest_earned = calculate_fd_interest(fd_amount, 1)  
print(f"Total interest earned in 1 year on ₹{fd_amount}: ₹{interest_earned}")

Total interest earned in 1 year on ₹6500000: ₹1045000.0

In [19]:
#2nd code
def calculate_tax(salary, savings):
    deductible_savings = min(savings, 200000)
    taxable_salary = salary - deductible_savings

    if taxable_salary <= 1000000:
        return taxable_salary * 0.10
    elif taxable_salary <= 2200000:
        return 100000 + (taxable_salary - 1000000) * 0.20
    else:
        return 340000 + (taxable_salary - 2200000) * 0.30

# Eg:
salaries_savings = [(4500000, 150000), (6200000, 350000)]

for salary, savings in salaries_savings:
    tax = calculate_tax(salary, savings)
    print(f"For Salary: ₹{salary}, Savings: ₹{savings} -> Tax to be paid: ₹{tax:.2f}")

For Salary: ₹4500000, Savings: ₹150000 -> Tax to be paid: ₹985000.00
For Salary: ₹6200000, Savings: ₹350000 -> Tax to be paid: ₹1480000.00

In [17]:
list1=[1,3,2,4,5,6]
for num in list1:
    if num % 2 ==0:
        print(num)

2
4
6

In [27]:
def is_prime(n):
    if n <= 1:  # If the number is 1 or less, it's not prime
        return False
    for i in range(2, n):  # Start checking from 2 up to n-1
        if n % i == 0:  # If n is divisible by i
            return False  # It’s not a prime number
    return True  # If no divisors found, it's prime

# Test the function
n = 7
if is_prime(n):
    print(f"{n} is a prime number.")
else:
    print(f"{n} is not a prime number.")

7 is a prime number.

In [20]:
num=153
original=num
count_digit=len(str(num))
sum_of_digit=0

for digit_char in str(num):  
    digit = int(digit_char)  
    sum_of_digit += digit ** count_digit 
    
if sum_of_digit==original:
    print("It is an armstrong number")

else:
    print("Not an armstrong number")

Not an armstrong number

In [21]:
# list of prime numbers

for num in range(2, 15):  # Check numbers from 2 to 14
    for i in range(2, num):  # Check if num is divisible by any number from 2 to num-1
        if num % i == 0:  # If num is divisible by i
            break  # Not a prime number, exit the loop
    else:
        print(num, end=" ")  # If no break occurred, it's a prime number

2 3 5 7 11 13

In [51]:
#Ascending
List=[2,6,7,1,30,80]
n=len(List)

for i in range(n):
    min_index=i
    for j in range(i+1,n):
        if List[j]<List[min_index]:
            min_index=j

    List[i],List[min_index]=List[min_index],List[i]

print(List)

[1, 2, 6, 7, 30, 80]

In [52]:
#Descending
List=[2,6,7,1,30,80]
n=len(List)

for i in range(n):
    min_index=i
    for j in range(i+1,n):
        if List[j]>List[min_index]:
            min_index=j

    List[i],List[min_index]=List[min_index],List[i]

print(List)

[80, 30, 7, 6, 2, 1]

In [58]:
#Reverse a string
string="WALCHAND Institute of technology Solapur, Maharshtra"
reversed_string=""

for char in string:
    reversed_string=char+reversed_string

print(reversed_string)

arthsrahaM ,rupaloS ygolonhcet fo etutitsnI DNAHCLAW

In [60]:
#Even position
string="WALCHAND Institute of technology Solapur, Maharshtra"

for i in range(0,len(string),2):
    print(string[i],end=" ")

W L H N   n t t t   f t c n l g   o a u , M h r h r

In [61]:
#Odd position
string="WALCHAND Institute of technology Solapur, Maharshtra"

for i in range(1,len(string),2):
    print(string[i],end=" ")

A C A D I s i u e o   e h o o y S l p r   a a s t a

In [62]:
string="WALCHAND Institute of technology Solapur, Maharshtra"
string=string.lower()

alphabet_count=[0]*26

for char in string:
    if 'a' <= char <= 'z':
        index= ord(char) - ord('a')
        alphabet_count[index]+=1

for i in range(26):
    if alphabet_count[i]>0:
        print(f"{chr(i + ord('a'))} : {alphabet_count[i]}")

a : 6
c : 2
d : 1
e : 2
f : 1
g : 1
h : 4
i : 2
l : 3
m : 1
n : 3
o : 4
p : 1
r : 3
s : 3
t : 5
u : 2
w : 1
y : 1

In [ ]:
#vowels
string="WALCHAND Institute of technology Solapur, Maharshtra"
vowels="aeiou"
vowels_count={}   #Empty dictionary for vowels

lower_string=""

for ch in string:
    if 'A' <= ch <= 'Z':
        lower_string += char(ord(ch) +32)
    else:
        lower_string += ch

for ch in lower_string:
    for 'a' <= ch <= 'z':

In [ ]:
#split String

In [5]:
#Customized Len function 

def length(string):
    count=0
    for ch in string:
        count+=1
    return count

string="WALCHAND Institute of technology Solapur, Maharshtra"
result=length(string)
print(result)

52

In [9]:
#customized Upper case
def upper(string):
    upper_string = ""
    for ch in string:
        if 'a' <= ch <= 'z': 
            upper_string += chr(ord(ch) - 32) 
        else:
            upper_string += ch  
    return upper_string  

string = "WALCHAND Institute of technology Solapur, Maharashtra"
result = upper(string)
print(result)

WALCHAND INSTITUTE OF TECHNOLOGY SOLAPUR, MAHARASHTRA

In [11]:
#Customized lower case
def lower(string):
    lower_string=""
    for ch in string:
        if 'A' <= ch <= 'Z':
            lower_string += chr(ord(ch) +32)
        else:
            lower_string+= ch
    return lower_string

string = "WALCHAND Institute of technology Solapur, Maharashtra"
result = lower(string)
print(result)

walchand institute of technology solapur, maharashtra

# While-else prime no

In [13]:
num=int(input("Enter a number :"))

if num<2:
    print(num, "is not a prime number")
else:
    i=2

while(i<num):
    if(num % 2==0):
        print(num ,"is not a prime number")
        break
    i+=1
else:
    print(num, "is a prime number")

Enter a number : 7

7 is a prime number

# While-else Armstrong no

In [19]:
num=int(input("Enter a number :"))
original=num
count=len(str(num))
sum_of_num=0

while num>0:
    digit = num % 10 
    sum_of_num += digit ** count  
    num = num // 10 

if (original == sum_of_num):
    print(original,"is an Armstrong number")
else:
    print(original,"is not an Armstrong number")

Enter a number : 153

153 is an Armstrong number

# While-else prime nos in range

In [2]:
range=int(input("Enter range"))
num=2
while num<range:
    i=2
    while i<num:
        if(num % 2 ==0):
            break
        i+=1
    else:
        print(num,end=" ")
    num+=1

Enter range 10

2 3 5 7 9

# While-else Ascending sorting

In [9]:
List=[2,60,3,90,20,5]
n=len(List)
i=0
while i<n:
    min_index=i
    j=i+1
    while j<n:
        if (List[j]<List[min_index]):
            min_index=j
        j += 1
    List[i],List[min_index]=List[min_index],List[i]
    i += 1
print(List)

[2, 3, 5, 20, 60, 90]

# While-else Ascending sorting

In [10]:
List=[2,60,3,90,20,5]
n=len(List)
i=0

while i<n:
    min_index=i
    j=i+1
    while j<n:
        if List[j]>List[min_index]:
            min_index=j
        j+=1
    List[i],List[min_index]=List[min_index],List[i]
    i+=1
print(List)

[90, 60, 20, 5, 3, 2]

# While-else Reverse Strting

In [12]:
string="WALCHAND Institute of technology Solapur, Maharshtra"
index=len(string)-1
reversed_string=""

while index>=0:
    reversed_string+=string[index]
    index-=1
else:
    print(reversed_string)

arthsrahaM ,rupaloS ygolonhcet fo etutitsnI DNAHCLAW

# While-else Even string

In [13]:
string="WALCHAND Institute of technology Solapur, Maharshtra"
length=len(string)
i=0

while i<length:
    print(string[i],end=" ")
    i+=2

W L H N   n t t t   f t c n l g   o a u , M h r h r

# While-else Odd String

In [14]:
string="WALCHAND Institute of technology Solapur, Maharshtra"
length=len(string)
i=1

while i<length:
    print(string[i],end=" ")
    i+=2

A C A D I s i u e o   e h o o y S l p r   a a s t a

# While-else count alphabets

In [19]:
string="WALCHAND Institute of technology Solapur, Maharshtra"
n=len(string)
string=string.lower()
alphabets=[0]*26
index=0

while index<n:
    char=string[index]
    if 'a' <= char <= 'z':
        pos=ord(char)-ord('a')
        alphabets[pos]+=1
    index+=1

else:
    i=0
    while i<26:
        if alphabets[i]>0:
             print(f"{chr(i + ord('a'))} : {alphabets[i]}")
        i+=1

a : 6
c : 2
d : 1
e : 2
f : 1
g : 1
h : 4
i : 2
l : 3
m : 1
n : 3
o : 4
p : 1
r : 3
s : 3
t : 5
u : 2
w : 1
y : 1

# Function of Aarmstrong no

In [25]:
def Armstrong(num):
    original=num
    count=len(str(num))
    sum_of_digit=0
    i=0
    while(num>0):
        digit=num % 10
        sum_of_digit+= digit ** count
        num =num //10

    if (original == sum_of_digit):
        print(original,"is an Armstrong number")
    else:
        Print(original,"is not an Armstrong nnumber")

num=int(input("Enter a number"))
result=Armstrong(num)

Enter a number 153

153 is an Armstrong number

# Function i Ascending Sorting

In [30]:
def sort(List):
    for i in range(0, len(List)):
        min_index = i  # Assume the first unsorted element is the minimum
        for j in range(i+1, len(List)):
            if List[j] < List[min_index]:  # Find the smallest element
                min_index = j  # Update the index of the smallest element
        # Swap the found minimum element with the first unsorted element
        List[i], List[min_index] = List[min_index], List[i]
    print(List)

List = [2, 90, 40, 5, 9, 0]
sort(List)

TypeError: 'int' object is not callable